@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;700&display=swap');

body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: lighter;
}

h1 { font-size: 5vw; }
h2 { font-size: 4rem; }
h3 { font-size: 3rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25vw; }

p, a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

header {
    background-color: #633BF2;
    padding-left: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-background {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.header-background img {
    width: 100%;
    height: auto;
    display: block;
}

.header-overlay {
    padding: 2%;
    position: absolute;
    inset-block-start: 15%;
    inset-inline-start: 10%;
    width: 36%;
    background: rgba(0, 0, 0, 0.75);
}

.header-overlay h1 {
    color: white;
    width: 75%;
    text-align: left;
}

.header-overlay p {
    color: white;
    font-size: 0.9375rem;
    width: 88%;
    font-weight: bold;
    text-align: left;
}

@media (max-width: 1424px) {
    .header-overlay {
        inset-block-start: 50vw; 
        inset-inline-start: 50vw;
        transform: translate(-50%, -100%);
        width: 80%;
        text-align: center;
        background: rgba(0, 0, 0, 0.75);
    }

    .header-overlay p {
        display: none;
    }

    .header-overlay a {
        font-size: 2vw;
        padding: 4%;
        width: 90%;
    }
}

nav {
    width: 88%;
    display: flex;
    justify-content: center;
}

.nav-menu {
    gap: 4%;
}

nav a {
    border: 1%;
    padding: 1%;
    color: white;
    font-size: 0.9375rem;
    font-weight: bold;
}

nav a:hover {
    color: black;
    font-weight: bold;
    background: #FFFFFF;
    border-radius: 4%;
}

/* Estilo de las categorías de productos y servicios */

.categorias {
    padding: 3% 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}

.casilla-categoria {
    display: flex;
    flex-direction: column; /* Alinear imagen y texto en columna */
    align-items: center; /* Centrar horizontalmente imagen y texto */
    justify-content: center;
    text-align: center;
}

.casilla-categoria img {
    width: 28%;
    height: 68%;
    object-fit: cover; /* Ajuste para que no se deformen */
    margin-bottom: 1rem;
}

.casilla-categoria p {
    color: black;
    font-weight: bold;
    margin: 1%;
}

@media (max-width: 767px) {
    .casilla-categoria img {
    width: 60%;
    height: 68%;
    object-fit: cover; /* Ajuste para que no se deformen */
    margin-bottom: 0.5rem;
}
}

/* Estilo del mosaico de imagenes */

.hero {
    background: #FFFFFF;
}

.hero img {
    max-width: 100%;
    height: auto;
}

.mosaico {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(180px, auto);
}

.mosaico-item:nth-child(1) {
    grid-row: 1 / 3;
    grid-column: 1 / 1;
}

.mosaico-item:nth-child(2) {
    grid-row: 1 / 2;
    grid-column: 2 / 2;
}

.mosaico-item:nth-child(3) {
    grid-row: 3 / 4;
    grid-column: 1 / 1;
}

.mosaico-item:nth-child(4) {
    grid-row: 2 / 4;
    grid-column: 2 / 2;
}

.mosaico-item {
    position: relative;
}

.mosaico-item img {
    width: 100%;
    height: auto;
}

/* En móviles */
@media (max-width: 767px) {
    .mosaico {
        display: flex;
        flex-direction: column;
    }

    .mosaico-item {
        all: unset;
        width: 100%;
    }

    .mosaico-item img {
        width: 100%;
        height: auto;
    }
}

.mosaico-item {
    position: relative;
    width: 100%;
}

.mosaico-item img {
    width: 100%;
    height: auto;
    display: block;
}

.mosaico-item a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.mosaico-overlay {
    position: absolute;
    width: 60%;
    top: 2%;
    left:15%;
    text-align: left;
    color: white;
    font-weight: bold;
}

@media (max-width: 767px) {
    .mosaico {
        display: flex;
        flex-direction: column;
    }

    .mosaico-item {
        all: unset;
        position: relative;
        width: 100%;
        margin-bottom: 2%;
    }

    .mosaico-item img {
        width: 100%;
        height: auto;
        display: block;
    }

    .mosaico-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
        justify-items: center;
        text-align: center;
        font-size: 1rem;
    }
    
    .mosaico-item .boton-morado {
        padding: 4%;
        width: 90%;
    }

    .mosaico-item .boton-amarillo {
        padding: 4%;
        width: 90%;
    }

    .mosaico-overlay h3 {
        font-size: 7vw;
    }

    .mosaico-overlay h2 {
        font-size: 11vw;
    }

    .mosaico-overlay p {
        display: none
    }
}

@media (min-width: 768px) and (max-width: 1424px) {
    .mosaico-overlay h3 {
        font-size: 4vw;
    }

    .mosaico-overlay h2 {
        font-size: 5vw;
    }

    .mosaico-overlay p {
        display: none;
    }
}

/* Estilo de la sección de redes */

.redes {
    padding-left: 4%;
    margin: 1%;
    display: flex;
    background: #FFFFFF;
}

.redes-sociales {
    display: grid;
    grid-template-columns: repeat(5, 10%);
    gap: 10%;
    align-items: center;
    justify-content: center;
}

.redes-sociales a{
    padding: 20%;
}

.redes-sociales a:hover {
    padding: 5%;
}

.icono-redes {
    width: 100%;
    height: 100%;
}


/* Estilo del pie de página */

footer {
    background: #E2E2E2;
    color: black;
    padding: 1%;
    font-size: 0.75rem;
    text-align: center;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #E2E2E2;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    padding: 10px;
}

.footer-column a {
    color: black;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.disclaimer {
    padding-left: 10%;
    width: 80%;
    font-size: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/* Estilo de los botones */

.boton-morado {
    display: inline-block;
    align-items: end;
    padding: 15px 30px;
    color:white;
    background: #633BF2;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.boton-morado:hover {
    background: #FFFFFF;
    color: black;
}

.boton-amarillo {
    display: inline-block;
    padding: 15px 30px;
    background: #FFD800;
    color: black;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 56px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.boton-amarillo:hover {
    background: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

/* Estilo del carrusel de imagenes de productos y servicios */

.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-slide {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 20px;
    background: #4B0082;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra externa */
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}