.boton-morado {
    display: inline-block;
    align-items: end;
    padding: 15px 30px;
    color:white;
    background: #633BF2;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.boton-morado:hover {
    background: #FFFFFF;
    color: black;
}

.boton-amarillo {
    display: inline-block;
    padding: 15px 30px;
    background: #FFD800;
    color: black;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 56px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.boton-amarillo:hover {
    background: #FFFFFF;
}
