@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: lighter;
}

h1 { font-size: 5vw; }
h2 { font-size: 4rem; }
h3 { font-size: 3rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25vw; }

p, a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}