header {
    background-color: #633BF2;
    padding-left: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-h1 {
    font-family: 'Racing Sans One', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}
.header-background {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.header-background img {
    width: 100%;
    height: auto;
    display: block;
}

.header-overlay {
    padding: 2%;
    position: absolute;
    inset-block-start: 15%;
    inset-inline-start: 10%;
    
    width: 36%;
    background: rgba(0, 0, 0, 0.75);
}

.header-overlay h1 {
    color: white;
    width: 75%;
    text-align: left;
}

@media (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
    }

    .header-h1 {
        font-size: 1.5rem;
    }

    .header-overlay {
        width: 80%;
        text-align: center;
    }

    .header-overlay h1 {
        width: 100%;
        font-size: 1.3rem;
        text-align: center;
    }

    .nav-menu {
        display: none;
    }

}

@media (max-width: 1424px) {
    .nav-menu {
        margin-left: 20%;
        margin-right: 20%;
    }
    .nav-menu a {
        text-align: center;
        margin-left: 4%;
        margin-right: 4%;
    }
    .header-overlay {
        inset-block-start: 42vw; 
        inset-inline-start: 50vw;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
        background: rgba(0, 0, 0, 0.75);
    }

    .header-overlay-h1 {
        font-size: 3rem;
        text-align: justify;
    }

    .header-overlay a {
        font-size: 2rem;
        padding: 4%;
        width: 90%;
    }

}