header {
    background-color: #633BF2;
    padding-left: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-background {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.header-background img {
    width: 100%;
    height: auto;
    display: block;
}

.header-overlay {
    padding: 2%;
    position: absolute;
    inset-block-start: 15%;
    inset-inline-start: 10%;
    width: 36%;
    background: rgba(0, 0, 0, 0.75);
}

.header-overlay h1 {
    color: white;
    width: 75%;
    text-align: left;
}

.header-overlay p {
    color: white;
    font-size: 0.9375rem;
    width: 88%;
    font-weight: bold;
    text-align: left;
}

@media (max-width: 1424px) {
    .header-overlay {
        inset-block-start: 50vw; 
        inset-inline-start: 50vw;
        transform: translate(-50%, -100%);
        width: 80%;
        text-align: center;
        background: rgba(0, 0, 0, 0.75);
    }

    .header-overlay p {
        display: none;
    }

    .header-overlay a {
        font-size: 2vw;
        padding: 4%;
        width: 90%;
    }
}